<!DOCTYPE html>
<html lang="en">
<head>
	<title>Preview visualizations</title>
	<script>
      	function load() {
        	if(window.location.hash) {
 			var hash = window.location.hash.substring(1);
			hash = hash.split("&");
			url = decodeURIComponent(hash[0]);
			initialize_visualization(url);
			document.getElementById('url').value=hash[0];
			$("#visualization").on("loaded", function(){$("#loadingDiv").hide();});
			$("#visualization").on("loaded", function(){
				for(var i=1; i<hash.length; i++){
					var change = hash[i].split("=");
					$("#"+change[0]).val(change[1]);
					$("#"+change[0]).trigger("change");
				}			
			});
		}
      	}
      	window.onload = load;
    </script>
	<meta charset="utf-8">
	<meta name=description content="Demo">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="{{url_for("static", filename="css/bootstrap.min.css")}}" rel="stylesheet" media="screen">
	<style>
	svg{
		border: 1px solid black;
	}
	th{
		font-size: 130%;
	}
	.bar{
		fill: steelblue;
	}
	</style>
	<style type="text/css">
	html { height: 100% }
	body { height: 100%; margin: 0; padding: 0 }
	#map-canvas { height: 100% }
	</style>

</head>
<body>
	<div class="container" id="container">

		<div class="page-header">
			<h1>Visual Overview</h1>
		</div>

		<div class="form-group">
			<label for="">Dataset URL (a <code>.csv</code> file)</label>
				<input type="text" id="url" class="form-control" id="" placeholder="Give me the URL of a dataset">
		</div>

		<button type="submit" id="go" class="btn btn-primary">Visualize!</button>
	
		<div id="loadingDiv" style="display: none; text-align: center; padding-top: 100px;">
			<img src="{{url_for("static", filename="484.GIF")}}">	
		</div>

		<div id="visualization" style="position:relative">

			<!-- Aquí se dibuja la tabla -->
			<div id ="table-container" style="overflow: auto; position: relative; height: 100%; width: 1170px;">
				<table class="table table-hover" style="table-layout: fixed;">
					<thead>
						<tr id="headerrow">
						</tr>
					</thead>
					<tbody id="tbody">
					</tbody>
				</table>
			</div>
	
			<!-- div para visualizar en grande alguna de las columnas (por implementar) -->
			<div id="big-visualization"></div>
		</div>

	</div> <!-- /container -->
	<br>
	<div class="container" id="footer"> Add our bookmark: <a href = "javascript: (function(){

	var theDiv = document.createElement( 'div' );
	theDiv.appendChild( document.createTextNode('Visualize it!') );
	theDiv.style.position='fixed';
	theDiv.style.left='0';
	theDiv.style.top='0';
	theDiv.style.borderBottomRightRadius='10px';
	theDiv.style.backgroundColor='white';
	theDiv.style.border='solid 2px #357EBD';
	theDiv.style.height='150px';
	theDiv.style.width='250px';
	theDiv.style.fontWeight='400';
	theDiv.style.fontSize='22px';
	theDiv.style.paddingTop='20px';
	theDiv.style.paddingLeft='10px';
	theDiv.style.textAlign='left';
	theDiv.style.lineHeight= '1.42857';
	theDiv.style.boxSizing='border-box';
	theDiv.style.zIndex='9999';
	document.body.appendChild(theDiv);

	var input = document.createElement('input');
	input.id = 'input90751';
	input.setAttribute('type','text');
	input.setAttribute('placeholder','Drag and drop a csv URL here!');
	input.style.width='90%';
	input.style.color='black';
	input.style.fontSize='12px';
	theDiv.appendChild(input);

	var button = document.createElement('button');
	button.style.borderRadius='4px';
	button.style.border='solid 2px #357EBD';
	button.style.backgroundColor='#428BCA';
	button.style.color='#FFF';
	button.style.fontSize='12px';
	button.appendChild( document.createTextNode('Visualize!') );
	button.onclick = (function(){
		var url = 'http://viz.niclabs.cl:5000/#'+document.getElementById('input90751').value;
		window.open(url);		
	});
	theDiv.appendChild(button);

})();">Visualize it!</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for("static", filename="js/d3.min.js")}}"></script>
    <script src="{{url_for("static", filename="js/jquery-1.11.1.js")}}"></script>
    <script src="{{url_for("static", filename="js/highcharts.js")}}"></script>
    <script src="{{url_for("static", filename="js/highcharts-more.js")}}"></script>
    <script src="{{url_for("static", filename="js/d3.layout.cloud.js")}}"></script>
    <script src="{{url_for("static", filename="js/wordcloud.js")}}"></script>
    <script src="{{url_for("static", filename="js/bar.js")}}"></script>
    <script src="{{url_for("static", filename="js/visualizations.js")}}"></script>
    <script src="{{url_for("static", filename="js/csv_utils.js")}}"></script>
    <script src="{{url_for("static", filename="js/dataDict.js")}}"></script>
    <script src="{{url_for("static", filename="js/data.js")}}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
  		google.load('visualization', '1.0', {'packages':['annotationchart']});
	</script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs1FjpnXQMH1UOmqWKuG4LL0wT_oFrLa0">
    </script>

    <script>
	
	$("#go").on("click", function(){
		
		var url = d3.select("#url").node().value;
		window.location.hash=encodeURIComponent(url);
		initialize_visualization(url);
		$("#visualization").on("loaded", function(){$("#loadingDiv").hide();});
	});


    	
    </script>
</body>
</html>
