<!DOCTYPE html>
<html lang="en">
<head>
	<title>Preview visualizations</title>
	<meta charset="UTF-8">
	<meta name=description content="Demo">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS -->
	<link href="{{url_for("static", filename="css/bootstrap.min.css")}}" rel="stylesheet" media="screen">
	<style>
	svg{
		border: 1px solid black;
	}
	th{
		font-size: 130%;
	}
	.bar{
		fill: steelblue;
	}
	</style>
</head>
<body>
	<div class="container" id="container">

		<div class="page-header">
			<h1>Preview Visualization Demo</h1>
		</div>

			<legend>Previsualize a Dataset</legend>

			<div class="form-group">
				<label for="">Dataset URL (a <code>.csv</code> file)</label>
				<input type="text" id="url" class="form-control" id="" placeholder="Give me the URL of a dataset" value="babies.csv">
			</div>



			<button type="submit" id="go" class="btn btn-primary">Visualize!</button>
<table class="table table-hover">
	<thead>
		<tr id="headerrow">
		</tr>
	</thead>
	<tbody id="tbody">
	</tbody>
</table>
	</div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{url_for("static", filename="js/d3.v3.min.js")}}"></script>
    <script src="{{url_for("static", filename="js/d3.layout.cloud.js")}}"></script>
    <script src="{{url_for("static", filename="js/wordcloud.js")}}"></script>
    <script src="{{url_for("static", filename="js/bar.js")}}"></script>
    <script src="{{url_for("static", filename="js/main.js")}}"></script>
</body>
</html>